* {
    box-sizing: border-box;
  }
  
  h1 {
      text-align: center;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  .hidden {
      display: none;
  }

  .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  
  .item {
    flex: 1;
    margin: 20px;
  }
  
  @media all and (min-width: 800px) {
    section {
      padding: 0 10%;
    }
    .group {
      flex-direction: row;
    }
  }